body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 100vh;
  width: 800px;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

#canvas1 {
  border: 3px solid black;
  background: black;
  cursor: pointer;
  width: 500px;
  height: 500px;
  color: white;
}
